*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;

}
/* Header and Nav styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:bottom right, left ;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 226px;
}
nav li{
    list-style: none;
    margin-left:50px;
    font-size: 20px;
    font-weight: '400';
}
nav ul{
    display: flex;
    align-items: center;
}
/* Banner Styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-subtitle{
    
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 20px;

}
.banner-des{
    
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 30px;

}
/* main section */
.main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

 
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}
.section-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;


}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}